annotated-types==0.7.0
asgiref==3.8.1
channels==4.1.0
channels-redis==4.2.0
crispy-bootstrap5==2024.2
distro==1.9.0
Django==4.2.13
django-crispy-forms==2.1
django-resized==1.0.2
django-tinymce==4.0.0
environ==1.0
gunicorn==22.0.0
html2text==2024.2.26
msgpack==1.0.8
numpy==1.26.4
openai==1.35.3
pillow==10.3.0
pydantic==2.7.4
pydantic_core==2.18.4
python-decouple==3.8
python-dotenv==1.0.1
redis==5.0.4
sqlparse==0.5.0
tqdm==4.66.4
uuid==1.30
