{% extends 'layout/dashboard.html' %}
{% load static %}

{% block body %}
<!-- Content wrapper -->
<div class="content-wrapper">
<!-- Content -->


<div class="container-fluid flex-grow-1 container-p-y">
    <!-- Layout Demo -->
    <div class="layout-demo-wrapper">


      <div class="row">
        <div class="col-lg-1"></div>

        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="mb-3">You generated these possible Blog Topic Ideas</h2>
              
              {% for blog in blogTopics %}
              <p>{{blog}}</p>
              <br>
              {% endfor %}


            </div>

            <div class="col-lg-6">
                <img src="{% static 'assets/img/banner_image_1.svg' %}" alt="Create Blog">

                

            </div>
            

          
          </div>
        </div>
      </div>


      <div class="col-lg-1"></div>
        
      </div>
    </div>  
{% endblock %}