{% extends 'layout/dashboard.html' %}
{% load static %}

{% block body %}
<!-- Content wrapper
<div class="content-wrapper">
  Content
  <div class="container-fluid flex-grow-1 container-p-y">
    <div class="layout-demo-wrapper">

      <div class="row">
        <div class="col-lg-1"></div>

        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="mb-3">You have generated these possible Blog Topic Ideas</h2>
              
              <!-- {% for blog in blogTopics %}
                <p>{{ blog }}</p>
                <br>
              {% endfor %} -->
            <!-- </div>

            <div class="col-lg-6"> -->
              <!-- <img src="{% static 'assets/img/banner_image_1.svg' %}" alt="Create Blog">
            </div>
          </div>
        </div>

        <div class="col-lg-1"></div>
      </div>

    </div>
  </div>
</div> -->

<div class="container-fluid flex-grow-1 container-p-y">
  <!-- Layout Demo -->
  <div class="layout-demo-wrapper">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="row">
          <div class="col-lg-12">

            <!-- <h2 class="mb-3">We have generated these Blog Ideas for you</h2> -->
            <h2 class="mb-3">We have generated these Blog Ideas for you</h2>
      
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Blog Title</th>
                  <th>Save Topic</th>
                  <th>Use Topic</th>
                </tr>
              </thead>

              <tbody>
                {%for blog in blogTopics %}
                <tr>
                  <td>{{blog}}</td>
                  <!-- <td><a href="{% url 'save-blog-topic' blog %}" button class="btn btn-outline-primary">SAVE TOPIC</button></a></td>
                  <td><a href="{% url 'use-blog-topic' blog %}" button class="btn btn-primary">USE TOPIC</button></a></td> -->
                  <td><a href="{% url 'save-blog-topic' blog %}" button class="btn btn-outline-primary">CANCEL TOPIC</button></a></td>
                  <td><a href="{% url 'use-blog-topic' blog %}" button class="btn btn-primary">USE TOPIC</button></a></td>
                  <td></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>  

            <!-- {%for blog in blogTopics %}
            <p>{{blog}}</p>
            <br>
            {% endfor %} -->
            
          </div>
          </div>
        </div>
      </div>      
  

          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-1"></div>
      
    </div>
  </div>  
{% endblock %}