{% extends 'layout/dashboard.html' %}
{% load static %}

{% block body %}
<!-- Content wrapper
<div class="content-wrapper">
  Content
  <div class="container-fluid flex-grow-1 container-p-y">
    <div class="layout-demo-wrapper">

      <div class="row">
        <div class="col-lg-1"></div>

        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="mb-3">You have generated these possible Blog Topic Ideas</h2>
              
              <!-- {% for blog in blogTopics %}
                <p>{{ blog }}</p>
                <br>
              {% endfor %} -->
            <!-- </div>

            <div class="col-lg-6"> -->
              <!-- <img src="{% static 'assets/img/banner_image_1.svg' %}" alt="Create Blog">
            </div>
          </div>
        </div>

        <div class="col-lg-1"></div>
      </div>

    </div>
  </div>
</div> -->

<div class="container-fluid flex-grow-1 container-p-y">
  <!-- Layout Demo -->
  <div class="layout-demo-wrapper">


    <div class="row">
      <div class="col-lg-1"></div>

      <div class="col-lg-10">
        <div class="row">
          <div class="col-lg-6">
            <img src="#" alt="Create Blog">
          </div>
          <div class="col-lg-6">

              <h2 class="mb-3">Enter your blog idea below to generate blog topic suggestions</h2>

            <form class="" action="#" method="post">
              {% csrf_token %}

              <div class="mb-3">
                <label for="blogIdea" class="form-label">Blog Idea</label>
                <input
                  type="text"
                  class="form-control"
                  name="blogIdea"
                  placeholder="Enter the Blog Idea"
                  required
                />
              </div>

              <div class="mb-3">
                  <label for="keywords" class="form-label">Keywords</label>
                  <input
                    type="text"
                    class="form-control"
                    name="keywords"
                    placeholder="Enter the blog keywords"
                    required
                  />
                </div>

                <div class="mb-3">
                  <button class="btn btn-primary d-grid w-100" type="submit">Generate Blog Topic Ideas</button>
                </div>

            </form>  

          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-1"></div>
      
    </div>
  </div>  
{% endblock %}