{% extends 'layout/dashboard.html' %}
{% load static %}

{% block body %}

<div class="container-fluid flex-grow-1 container-p-y">
  <!-- Layout Demo -->
  <div class="layout-demo-wrapper">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <form action="#" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-12">
              <h2 class="mb-3">Select the Blog Sections that you would like to include in the Blog</h2>
              <p>these Blog Topics will be used to generate blog sections</p>
              <table class="table table-hover mt-3">
                <thead>
                  <tr>
                    <th>Select</th>
                    <th>Topic</th>
                  </tr>
                </thead>
                <tbody>
                  {% for section in blogSections %}
                  <tr>
                    <td>
                      <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" name="{{section}}"/>
                      </div>
                    </td>
                    <td>{{section}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              <br>
              <button type="submit" class="btn btn-primary">GENERATE FULL BLOG</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</div>

{% endblock %}